# Change these for your cluster

# Either use maprcli (standard) or provide a path to your own
#export MAPRCLI="/home/zetaadm/homecluster/zetago/zeta fs mapr maprcli -U=mapr"
export MAPRCLI="maprcli"


export MAPR_CLUSTER=mycluster
export MAPR_CLDB_HOSTS=mycldb.mynetwork.com

export MAPR_CONTAINER_USER=myuser
export MAPR_CONTAINER_PASSWORD=
export MAPR_CONTAINER_GROUP=mygroup
export MAPR_CONTAINER_UID=2000
export MAPR_CONTAINER_GID=2000

# Ensure you create a ticket on secure clusters.  Also ensure that the filepermissions on the host allow it to be read by the user inside the continaer. The ticket should be on the docker host at /tmp/mapr_ticket maprticket_12345 is a ticket name

export MAPR_TICKET_HOST_LOCATION="/path/to/ticket"
export MAPR_TICKET_CONTAINER_LOCATION="/tmp/mapr_ticket"

export MAPR_TICKET_FILENAME="mapr_ticket"
export MAPR_TICKETFILE_LOCATION="${MAPR_TICKET_CONTAINER_LOCATION}/${MAPR_TICKET_FILENAME}"


export MAPR_MOUNT_PATH=/mapr
export MAPR_TZ=US/Central

export IMG="maprpaccstreams:latest"

# Ensure that the user has the ability right to the stream here. Use the mkstream.sh to create the stream for your user

export MAPR_STREAMS_VOLUME_LOCATION="/apps/prod/tesladata/eventstream"
export MAPR_STREAMS_VOLUME_NAME="prod.apps.tesladata"
export MAPR_STREAMS_DEFAULT_PARTITIONS=3

export MAPR_STREAMS_STREAM_LOCATION="/apps/prod/tesladata/eventstream/teslastream"
export MAPR_STREAMS_TESLA_FULL_TOPIC="teslafull"
export MAPR_STREAMS_TESLA_STREAM_TOPIC="teslastream"

export MAPR_STREAMS_TOPICS="${MAPR_STREAMS_TESLA_FULL_TOPIC} ${MAPR_STREAMS_TESLA_STREAM_TOPIC}"


# App specific information
export TESLA_CARNAME="MyTesla"
export TESLA_REFRESH_SECS="50000"
export TESLA_STDOUT_INTERVAL="1800"
export TESLA_FULL_DATA_SECS="120"
export TESLA_HTTP_TIMEOUT_SECS="30"
export TESLA_TOKEN_FILE="/zeta/brewpot/apps/prod/tesladata/maprtesla/safe/token"
export TESLA_CREDS_FILE="/zeta/brewpot/apps/prod/tesladata/maprtesla/safe/creds"
